<div class="GoogleBusiness" is="joi-google-business">
    <!-- static google business star rating set in footer settings -->
    <div class="Footer__GoogleBusiness">
        <h5>
            Google Reviews
        </h5>
        <div id="CDSROWRATING599" class="cdsComponent cdsRating">
            <div id="googleReviewRatinh">
                <div id="starRating" class="starRating">
                    <svg id="googlestar1"
                        class="star-icon"
                        fill="currentColor"
                        stroke="currentColor"
                        width="16"
                        height="16">
                        <use id="googlehalfstar1" href="#star"></use>
                    </svg>
                    <svg id="googlestar2"
                        fill="currentColor"
                        stroke="currentColor"
                        class="star-icon"
                        width="16"
                        height="16">
                        <use id="googlehalfstar2" href="#star"></use>
                    </svg>
                    <svg id="googlestar3"
                        fill="currentColor"
                        stroke="currentColor"
                        class="star-icon"
                        width="16"
                        height="16">
                        <use id="googlehalfstar3" href="#star"></use>
                    </svg>
                    <svg id="googlestar4"
                        fill="currentColor"
                        stroke="currentColor"
                        class="star-icon"
                        width="16"
                        height="16">
                        <use id="googlehalfstar4" href="#star"></use>
                    </svg>
                    <svg id="googlestar5"
                        fill="currentColor"
                        stroke="currentColor"
                        class="star-icon"
                        width="16"
                        height="16">
                        <use id="googlehalfstar5" href="#star"></use>
                    </svg>
                </div>
            </div>
            <span>{{ google_business.number_of_reviews }} reviews</span>
        </div>
    </div>
</div>
<a href="https://www.google.com/search?q=north+lincolnshire+museum&oq=north+lincolnshire+museum&aqs=chrome..69i57j69i61l3.291j0j1&sourceid=chrome&ie=UTF-8#lrd=0x4878e51960a76019:0x4f44b66d625f56d5,1,,,"
    target="_blank">
    View on Google
</a>
