@use "styles/base/mq" as *;

.logo {
  display: block;
  flex-shrink: 0;
  height: 46px;

  @include mq($from:tablet) {
    height: 58px;
  }

  &-image {
    height: 46px;
    width: auto;

    @include mq($from:tablet) {
      height: 58px;
    }
  }
}
