@use "sass:color";
@use "sass:map";
@use "styles/base/variables" as *;
@use "~sass-rem" as rem;

[is="joi-card"] {
  .content {
    padding-top: rem.convert(10px);
  }

  &.coloured {
    .content {
      position: relative;
      background-color: color.invert($color-background);
      color: color.invert($color-text);
      padding: rem.convert(20px);
      border-radius: 0 10px 10px;
      margin-right: rem.convert($spacing);
      margin-top: -#{rem.convert($spacing)};

      h4,
      a {
        color: color.invert($color-text);
      }
    }

    &:nth-child(5n+1) {
      .content {
        background-color: map.get($colors, yellow);
      }
    }

    &:nth-child(5n+2) {
      .content {
        background-color: map.get($colors, red);
      }
    }

    &:nth-child(5n+3) {
      .content {
        background-color: map.get($colors, blue);
      }
    }

    &:nth-child(5n+4) {
      .content {
        background-color: map.get($colors, orange);
      }
    }

    &:nth-child(5n+5) {
      .content {
        background-color: map.get($colors, green);
      }
    }
  }
}
