@use "styles/base/variables" as *;
@use "styles/base/mixins" as *;
@use "styles/base/mq" as *;
@use "styles/base/swiper" as *;

[is="joi-block-feature-carousel"] {
  @include break-container;

  .swiper-nav {
    position: absolute;
    z-index: 99;
    bottom: 20px;
    left: 20px;

    @include mq($from:tablet) {
      top: 50%;
      left: auto;
      bottom: auto;
      margin-top: -35px;
      right: 36%;
      margin-right: -25px;
    }
  }

  .CardFeature {
    height: 100%;

    @include mq($from:tablet) {
      height: auto;
    }

    .content {
      padding-bottom: 100px;

      @include mq($from:tablet) {
        padding-bottom: 30px;
      }
    }
  }
}
