<form role="search" method="get" class="SearchForm" is="joi-search-form" action="{{ site.link }}">
    <div class="input--wrapper">
        <input class="input--search"
            type="text"
            value="{{ function('get_search_query') }}"
            name="s"
            id="s"
            placeholder="Please enter your search terms..." />
        <button class="input--submit" type="submit" id="searchsubmit">
            <svg xmlns="http://www.w3.org/2000/svg" width="25.051" height="24.737" viewBox="0 0 25.051 24.737">
                <path d="M9.875 3a6.875 6.875 0 1 0 6.875 6.875A6.883 6.883 0 0 0 9.875 3m0-3A9.875 9.875 0 1 1 0 9.875 9.875 9.875 0 0 1 9.875 0Z" />
                <path d="m22.93 24.737-7.613-7.61 2.121-2.121 7.613 7.61Z" />
            </svg>
        </button>
    </div>
</form>
