@use "styles/base/variables" as *;
@use "styles/base/mixins" as *;
@use "styles/base/mq" as *;
@use "sass:map";

[is="joi-opening-hours"] {
  position: relative;
  background-color: map.get($colors, mid-grey);
  padding: $spacing;
  flex: 0;
  width: 100%;
  display: inline-block;
  margin-top: -25%;

  @include mq($from:mobilelandscape) {
    width: auto;
  }

  hr {
    width: 43px;
    margin: 20px 0;
  }

  a.link {
    display: block;
  }

  .button {
    margin-top: $spacing;
  }

  .pill {
    margin-bottom: 10px;
  }
}
