<div class="SocialLinks" is="joi-social-links">
    {% for link in links %}
        <a href="{{ link.link }}" target="_blank" rel="noopener noreferrer"><img src="{{ link.icon }}" /></a>
    {% endfor %}
</div>
