<div class="BlockVirtualTour" is="joi-block-virtual-tour">
    <div class="container">
        <iframe src="{{ fields.url }}" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <a href="{{ fields.url }}" class="button link" target="_blank">{{ fields.link_title }}</a>
</div>
