<div class="TripAdvisor" is="joi-trip-advisor">
    <!-- static trip advisor block rating set in footer settings -->
    <div class="Footer__TripAdvisor">
        <h5>
            Trip Advisor
        </h5>
        <div id="CDSROWRATING599" class="cdsComponent cdsRating">
            <div id="tripAdvisorRatinh">
                <div id="starRating" class="starRating">
                    <svg id="star1" class="star-icon" fill="currentColor" stroke="currentColor" width="16" height="16">
                        <use id="halfstar1" href="#star"></use>
                    </svg>
                    <svg id="star2" fill="currentColor" stroke="currentColor" class="star-icon" width="16" height="16">
                        <use id="halfstar2" href="#star"></use>
                    </svg>
                    <svg id="star3" fill="currentColor" stroke="currentColor" class="star-icon" width="16" height="16">
                        <use id="halfstar3" href="#star"></use>
                    </svg>
                    <svg id="star4" fill="currentColor" stroke="currentColor" class="star-icon" width="16" height="16">
                        <use id="halfstar4" href="#star"></use>
                    </svg>
                    <svg id="star5" fill="currentColor" stroke="currentColor" class="star-icon" width="16" height="16">
                        <use id="halfstar5" href="#star"></use>
                    </svg>
                </div>
            </div>
            <span>{{ trip_advisor.number_of_reviews }} reviews</span>
        </div>
    </div>
</div>
<a href="https://www.tripadvisor.co.uk/Attraction_Review-g503982-d5998720-Reviews-North_Lincolnshire_Museum-Scunthorpe_Lincolnshire_England.html"
    target="_blank">
    View on Trip Advisor
</a>
