@use "styles/base/variables" as *;
@use "styles/base/mixins" as *;

[is="joi-navigation-quick-links"] {
  .menu {
    @include resetList;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        font-weight: normal;
      }
    }
  }
}
