@use "styles/base/variables" as *;
@use "styles/base/mixins" as *;
@use "sass:color";

[is="joi-navigation-burger"] {
  padding: 7px 13px;

  svg {
    margin-left: 7px;
    fill: color(white);
    width: 29px;
    height: 14px;
  }

  &:hover,
  &.button--selected {
    svg {
      fill: color(black);
    }
  }
}
