@use "styles/base/mixins" as *;
@use "styles/base/mq" as *;

[is="joi-post-header"] {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  justify-content: flex-end;
  background-color: color(light-grey);
  color: color(black);
  margin-bottom: 40px;

  h1 {
    color: color(black);
  }

  &.hasMedia {
    background-color: transparent;
    height: 500px;
    color: color(white);

    h1 {
      color: color(white);
    }
  }

  > img,
  > picture,
  > video {
    @include coverImage;
  }

  .content {
    position: relative;
    width: 100%;

    .post-type-event & {
      @include mq($from:tablet) {
        padding-right: calc(33.33% + 135px);
      }
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 290px;
    background: transparent linear-gradient(180deg, #0000 0%, #000 100%) 0% 0% no-repeat padding-box;
  }
}
