<div class="ListSearchResults" is="joi-list-search-results">
    {% if (posts|length) > 0 %}
        {% for post in posts %}
            {{
                renderComponent(
                    'CardTypeSwitcher',
                    {
                        post: post,
                        classes: itemClasses,
                        smallTitle: itemSmallTitle
                    }
                )
            }}
        {% endfor %}
    {% else %}
        <p>
            No results found
        </p>
    {% endif %}
</div>
