{% extends 'templates/_document.twig' %}

{% block content %}
    <div class="PageHeader">
        <div class="siteWidth">
            {% if title %}
                <h1>
                    {{ title }}
                </h1>
            {% endif %}
        </div>
    </div>
    <section class="PageContent siteWidth">
        {{
            renderComponent(
                'GridPostsArchive',
                {
                    posts: posts,
                    itemComponent: 'CardTypeSwitcher',
                    showToggle: true
                }
            )
        }}
    </section>
    {{
        renderComponent(
            'LoadMore',
            {
                action: 'load_more_posts',
                postType: 'event',
                pagination: posts.pagination,
                container: '.post-type-archive-event .GridPostsArchive .grid'
            }
        )
    }}
    {{ renderComponent('MoreToExplore') }}
{% endblock %}
