{% extends contentOnly ? 'templates/_contentOnly.twig' : 'templates/_document.twig' %}

{% block content %}
    <section class="siteWidth">
        {{
            renderComponent(
                'GridPostsArchive',
                {
                    posts: posts,
                    itemComponent: 'CardPost'
                }
            )
        }}
    </section>
{% endblock %}
