@use "styles/base/variables" as *;
@use "styles/base/mixins" as *;
@use "~sass-rem" as rem;
@use "styles/base/mq" as *;

[is="joi-footer"] {
  .top {
    background-color: color(dark-grey);

    &--wrapper {
      @include grid(1);

      @include mq($from:tablet) {
        @include grid(2);
      }

      @include mq($from:desktop) {
        @include grid(4);
      }
    }
  }

  .top,
  .bottom {
    padding-top: $component-spacing-desktop;
    padding-bottom: $component-spacing-desktop;
  }

  .bottom {
    &--wrapper {
      @include grid(1);

      @include mq($from:tablet) {
        @include grid(2);
      }

      @include mq($from:desktop) {
        @include grid(4);
      }
    }

    .partners {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .partner {
        width: calc(50% - 20px);
      }

      img {
        max-width: 100%;
        width: auto;
        display: inline;
      }
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    padding-bottom: $component-spacing-desktop;

    @include mq($from:tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    a {
      font-size: rem.convert(14px);
    }
  }
}
