<div id="megaMenu" class="MegaMenu" is="joi-mega-menu">
    <div class="container siteWidth">
        <div class="search">
            <h5>
                Search
            </h5>
            {{ renderComponent('SearchForm') }}
        </div>
        {{ renderComponent('NavigationMegaMenu') }}
    </div>
</div>
